<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" role="form" name="formPlanta" ng-submit="submit()">   
            <div class="row">
                <div class="col-md-12" style="background-color: #EDEFEE">
                    <fieldset>
                        <legend >
                            Datos Generales de la Planta de Emergencia                                                        
                        </legend>
                        <div class="row">
                            <div class="col-md-4">                                
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        No Cliente
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" required ng-model="prueba.noCliente" name="modelo" placeholder="Modelo">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Cliente                               
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" required ng-model="prueba.Cliente" name="serie">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        No. OP                                       
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" required ng-model="prueba.noOp" name="noOP">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        No. OV                                   
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" required ng-model="prueba.noOV" name="noOV">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">                               
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Instalacion en :
                                    </label>
                                    <div class="col-md-8">
                                        <select name="ubbicacion" ng-options="m.poblacion for m in ubicaciones" ng-model="prueba.ubicacion" required class="form-control" >
                                            <option value="">Nueva Ubicación</option>
                                        </select>
                                    </div>
                                </div>                               
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        Poblacion                                     
                                    </label>                                        
                                    <div class="col-md-8">
                                        <label ng-show="prueba.ubicacion.id">{{prueba.ubicacion.poblacion}}</label>
                                        <input ng-show="!prueba.ubicacion.id" type="text" class="form-control" required ng-model="prueba.ubicacion.poblacion" name="poblacion">
                                    </div>                                     
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        Entidad                                        
                                    </label>                                        
                                    <div class="col-md-8">
                                        <label ng-show="prueba.ubicacion.id">{{prueba.ubicacion.estado}}</label>
                                        <input ng-show="!prueba.ubicacion.id" type="text" class="form-control " required ng-model="prueba.ubicacion.estado" name="estado">
                                    </div>                                      
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Teléfono
                                    </label>
                                    <div class="col-md-8">
                                        <label ng-show="prueba.ubicacion.id">{{prueba.ubicacion.telefono}}</label>
                                        <input ng-show="!prueba.ubicacion.id" type="text" class="form-control" required ng-model="prueba.ubicacion.telefono" name="telefono">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">                               
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Person que atendió al Técnico                                    
                                    </label>
                                    <div class="col-md-8">                                        
                                        <input type="text" class="form-control" ng-model="prueba.atendio" required name="atendio">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Nombre del Técnico                                      
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" ng-model="prueba.tecnico" required name="tecnico">
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </fieldset>                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="background-color: #EDEFEE">                        
                    <fieldset>
                        <legend >
                            Datos de Placa
                        </legend>
                        <div class="row">
                            <div class="col-md-4">                                    
                                <div class="form-group">
                                    <label  class="control-label col-md-4">
                                        Marca                              
                                    </label>
                                    <label class="col-md-8">{{prueba.planta.marca}}</label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Modelo
                                    </label>
                                    <label class="col-md-8">{{prueba.planta.modelo}}</label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        No. Serie
                                    </label>
                                    <label class="col-md-8">{{prueba.planta.noSerie}}</label>
                                </div>                               
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Tipo Control                                        
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control" ng-options="c.id as c.text for c in tipoControl" ng-model="planta.controlId" name="tipoControl"></select>  
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Carril                                  
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control" ng-options="(c.id + ' - ' + c.minCap + 'KW a ' + c.maxCap + 'KW')  for c in carriles" ng-model="ensamble.cariles" name="carril"></select>  
                                        <span class="error">
                                            <span ng-show="ensamble.cariles.maxCap < planta.motores.kw" >El carril no soporta la capacida de prueba de la planta</span>
                                        </span>
                                    </div>
                                </div>                                   
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Patin                                  
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" required ng-model="ensamble.patin" name="patin"> 
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Radiador                                  
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text"  class="form-control" required ng-model="ensamble.rediador" name="rediador"> 
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Guardas                                  
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text"  class="form-control" required ng-model="ensamble.guardas" name="guardas"> 
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Altitud                                  
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text"  class="form-control" required ng-model="ensamble.altitud" name="altitud"> 
                                    </div>
                                </div> 
                            </div>
                            <div class="col-md-4">                                    
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Cap. Interruptor                                        
                                    </label>
                                    <div class="col-md-8">
                                        <input type="number"  min="0" class="form-control" required ng-model="planta.capInt" name="capInt">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Fases:                                        
                                    </label>
                                    <div class="col-md-8">
                                        {{planta.motores.noFases}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Voltaje:                                        
                                    </label>
                                    <div class="col-md-8">
                                        <input type="number"  min="0" class="form-control" required ng-model="planta.voltaje" name="voltaje">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Frecuencia:                                       
                                    </label>
                                    <div class="col-md-8">
                                        {{planta.motores.frecuenciaOperacion}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" type="submit" ng-disabled="formPlanta.$invalid">
                        Guardar y Comenzar las Pruebas
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>