<div class="row">    
    <div class="col-md-3">
        <div class="row">
            <h4>Video de Sitio</h4>
            <div class="col-md-12">
                <img class="img-responsive" alt="" src="/img/Logo Selmec.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">  
                <controlplanta controlplanta OptionsControl="OptionsControl" Estado="Estado" Start="Start()" Stop="Stop()" >            
                </controlplanta> 
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <table-ctrl-carga></table-ctrl-carga> 
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <div class="row">                        
                        <div class="col-md-6">
                            <label>Fecha y Hora de Inicio</label>
                        </div>                            
                        <div class="col-md-6">
                            <label class="label label-info">{{prueba.dtInicio| date : 'dd-MM-yyyy hh:mm:ss'}}</label>
                        </div>
                    </div>                                            
                    <div class="row">                        
                        <div class="col-md-6">
                            <label>Fecha y Hora de Termino</label>
                        </div>                            
                        <div class="col-md-6">
                            <label class="label label-info">{{prueba.dtFin| date : 'dd-MM-yyyy hh:mm:ss'}}</label>
                        </div>
                    </div>                                                                                                                                                
                    <div class="row">                        
                        <div class="col-md-6">
                            <label>Folio</label>
                        </div>                            
                        <div class="col-md-6">
                            <label class="label label-info">{{ensamble.folio}}</label>
                        </div>
                    </div> 
                    <div class="row">                        
                        <div class="col-md-6">
                            <label>Tiempo Prueba</label>
                        </div>                            
                        <div class="col-md-6">
                            <label  class="label label-primary">{{AccumulateTime| minutos}}</label> 
                        </div>
                    </div>                               
                </fieldset>
            </div>
        </div>
        <div class="row">            
            <div class="col-md-12"incidenciasctrl>
            </div>
        </div>
    </div>        
</div>
<div class="row">
    <div class="col-md-12">
        Tablero de Mediciones     
        <div class="row">                        
            <div class="col-md-6">                              
                <div style="width:600px;height: 300px">
                    <linechart data="lastMinute" options="options" mode=""></linechart>
                </div>
            </div>        
            <div class="col-md-6">                              
                <div style="width:600px;height: 300px">
                    <linechart data="lastMinute" options="optionsTemp" mode=""></linechart>
                </div>
            </div>  
        </div>
    </div>
</div>