<div class="row">
    <div class="col-md-12" incidenciasctrl>
    </div>
</div>
<div class="row">    
    <div class="col-md-12">
        <table-ctrl></table-ctrl>   
    </div>                
</div>
<div class="row">
    <div class="col-md-12">
        Tablero de Mediciones
        <div class="row">       
            <div class="form-group">
                <label class="control-label col-md-4">Tiempo de Actualización</label>                             
                <div class="col-md-8">
                    <select ng-model="RefreshTime" ng-options="time  for time in RefreshTimes" class="form-control" required=""></select>
                </div>
            </div>
        </div>
        <div class="row">                        
            <div class="col-md-12">                              
                <div style="width:1000px;height: 300px">
                    <linechart data="lastMinute" options="options" mode=""></linechart>
                </div>
            </div>        
        </div>
    </div>
</div>