<div class="col-md-12">
    <a href="#/Motores/Create" class="btn btn-primary">Agregar</a>
    <table class="table">
        <thead>
            <tr>
                <th>Modelo</th>
                <th>Marca</th>
            </tr>                                
        </thead>
        <tbody>
            <tr ng-repeat="row in motores">
                <td><a href="#/Motores/Edit?modelo={{row.modelo}}">{{row.modelo}}</a></td>
                <td>{{row.marca}}</td>
                <td>
                    <button class="btn btn-danger">Borrar</button>
                </td>                          
            </tr>
        </tbody>
    </table>
</div>