<div class="row">
    <div class="col-md-12">
        <h3>Incio de Prueba</h3>
        <div class="btn-group">
            <button type="button" class="btn btn-success" ng-click="Enable()">
                <span class='glyphicon glyphicon-ok'></span><br>
                Inicio                           
            </button>
            <button type="button" class="btn btn-danger" ng-click="Disable()">
                <span class='glyphicon glyphicon-off'></span><br>
                Fin                           
            </button>                            
        </div>
    </div>
    <div class="col-md-12" >
        <h3>Controles de Planta</h3>
        <div class="btn-group">
            <button type="button" class="btn " ng-click="ArranquePlanta()" >
                <img src="../../img/Icons/Arranque.png" alt="" width="50"/>
            </button>
            <button type="button" class="btn" ng-click="ParoPlanta()"    >
                 <img src="../../img/Icons/PARO.png" alt="" width="50"/>                          
            </button>
            <button type="button" class="btn btn-success" ng-click="Start()" ng-disabled="OptionsControl.Locked || Estado === Estatus.Running">
                <span class='glyphicon glyphicon-play'></span><br>
                START                           
            </button>
            <button type="button" class="btn btn-danger" ng-click="Stop()" ng-disabled="OptionsControl.Locked || Estado !== Estatus.Running">
                <span class='glyphicon glyphicon-stop'></span><br>
                STOP                           
            </button>
            <button type="button " class="btn btn-primary" ng-click="Test()"  ng-disabled="OptionsControl.Locked || Estado === Estatus.Running">

                <span class='glyphicon glyphicon-check'></span><br>
                TEST

            </button>                                                
        </div>
        <label ng-style="{color: Estado.color}" class="label">{{Estado.text}}</label>                    
    </div>
</div>