<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Folio</th>
                    <th>No Serie</th>
                    <th>Modelo</th>
                    <th>Generador </th>
                    <th>KW</th>
                    <th>Fases</th>
                    <th>Voltaje</th>
                    <th>Guardas</th>
                    <th>Radiador</th>
                    <th>Creación</th>
                    <th>Ejecutor</th>
                </tr>
            </thead>
            <tr  ng-repeat="prueba in pruebas">
                <td>  
                    <a href="#/Pruebas/{{prueba.id}}" title="{{prueba.folio}}">{{prueba.folio}}</a>                    
                </td>
                <td>
                    {{prueba.planta.noSerie}}
                </td>
                <td>
                    {{prueba.planta.motores.modelo}}
                </td>
                <td>
                    {{prueba.planta.motores.generadorMarca}}
                </td>
                <td>
                    {{prueba.planta.motores.kw}}
                </td>
                <td>
                    {{prueba.planta.motores.kw}}
                </td>
                <td>
                    {{prueba.planta.motores.noFases}}
                </td>
                <td>
                    {{prueba.guardas}}
                </td>
                <td>
                    {{prueba.rediador}}
                </td>
                <td>
                    {{prueba.dtCreacion}}
                </td>
                <td>
                    {{prueba.usuarioId.nombres}}
                </td>
            </tr>
        </table>
    </div>
</div>

